[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"

[packages]
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
pythin = "*"
python = "*"
jinja2 = "*"
logiin = "*"
flask-login = "*"

[requires]
python_version = "3.7"
